<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member"> <!-- mybatis-config를 작성한 이유, com.blog.member.dto.MemberDTO로 써도 됨. MemberDTO에 저장된 변수 값을 불러오는 것 -->
	<!-- parameterType="member"는 MemberDTO 객체를 전달받음. save()메서드에서 sql.insert("Member.save", memberDTO)로 쓰는 이유 -->
        insert into usersTBL(memberId, memberPassword, memberName, memberEmail, memberAge, memberMobile)
        values (#{memberId}, #{memberPassword}, #{memberName}, #{memberEmail},  #{memberAge}, #{memberMobile})
        <!-- #{}안 변수는 DTO 변수와 절대 달라서는 안된다.  -->
    </insert>
    
    <select id="login" parameterType="member" resultType="member"> 
    <!-- 조회결과를 위해 resultType 사용함. select에서는 항상 사용됨. 왜냐? 반환값을 받는 친구거든. 즉, resultType은 SQL 쿼리의 결과로 반환되는 레코드의 타입임. -->
    	select * from usersTBL where memberId = #{memberId} and memberPassword = #{memberPassword}
    </select>
    
</mapper>