<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>NomardLog | 게시판</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="content">
            <!-- todo -->
        </div>
    </th:block>


    <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>
    </th:block>
</html>