<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>NomardLog | 게시글 작성</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">

        </div>

        <div class="content">

        </div> <!--/* .content */-->
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>
    </th:block>
</html>