<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Save</title>
</head>
<body>
    <form action="/member/save" method="post"> <!-- form 태그는 input으로 받는 내용들을 저장해 보내는 역할을 한다 -->
        <input type="text" name="memberId" placeholder="아이디" id="memberId" required>
        <button type="button" onclick="idCheck()">아이디 중복체크</button><br>
        <!-- onblur란 이벤트이고, 입력창을 벗어났을 때 메서드 호출하도록 하는 처리방식임-->
        <!--  <p id="check-result"> --> <!-- 결과값 출력 태그 -->
        <input type="text" name="memberPassword" placeholder="비밀번호" required>
        <input type="text" name="memberName" placeholder="이름">
        
        <!-- <div class="form-group">
	        <input th:field="*{memberEmail}" type="email" class="form-control form-control-user"
	               id="memberEmail"
	               placeholder="이메일 주소" required autofocus>
	        <div class="text-center" th:if="${#fields.hasErrors('memberEmail')}">
	            <hr>
	            <p class="alert alert-danger" role="alert"
	               th:errors="*{memberEmail}">이메일 주소가 올바르지 않습니다.</p>
	        </div>
   		</div> -->
        <input type="text" name="memberEmail" placeholder="이메일" required>
        <!-- <div style="text-align: center;" th:if="${#fields.hasErrors('memberEmail')}">
		    <hr>
		    <p class="alert alert-danger" role="alert" th:errors="*{memberEmail}">이메일 주소가 올바르지 않습니다.</p>
		</div> -->
        <input type="text" name="memberAge" placeholder="나이">
        <input type="submit" value="회원가입">
    </form>
</body>
<!-- ajax는 자바스크립트 문법, JavaScript와 XML을 이용한 비동기적 정보 교환 기법 -->
<!-- jQuery는 자바 스크립트의 라이브러리로, html 요소를 간단하고 편리하게 사용하는 기능이 내재 -->
<!-- id 입력창에 값을 입력시 서버로 보내서 중복값이 있으면 사용 불가 처리 -->
<script>
    const idCheck = () => {
        const id = document.getElementById("memberId").value; // web에서 받은 값 저장
        const checkResult = document.getElementById("check-result"); // 
        console.log("입력한 이메일", id); // 콘솔 확인용, 없어도 됨
        $.ajax({
            // 요청방식: post, url: "id-check", 데이터: 아이디
            type: "post",
            url: "/member/id-check",
            data: {
                "memberId": id
            },
            success: function(res) {
                console.log("요청성공", res);
                if (res == "ok") {
                    // console.log("사용가능한 아이디");
                    // checkResult.style.color = "green";
                    // checkResult.innerHTML = "사용가능한 아이디";
                	alert("사용 가능한 아이디입니다.");
                } else {
                    // console.log("이미 사용중인 아이디");
                    // checkResult.style.color = "red";
                    // checkResult.innerHTML = "이미 사용중인 아이디";
                	alert("사용 불가능한 아이디입니다.");
                }
            },
            error: function(err) {
                console.log("에러발생", err); // console은 브라우저의 개발자 도구를 의미
            }
        });
    }
</script>
</html>