<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>bbs_detail</title>
		<link rel="stylesheet" th:href="@{/css/style.css}"
		href="../../css/style.css"></link>
</head>
	<body>
		<div class="container">
	    <h2>게시글 상세 화면</h2>
	    <form id="frm" method="post">
	      <table class="bbs_detail">
	        <colgroup>
		          <col width="15%" />
		          <col width="35%" />
		          <col width="15%" />
		          <col width="35%" />
	        </colgroup>
	         <caption>게시글 상세 내용</caption>
	        <tbody>
	         	 <tr>
		            <th scope="row">글 번호</th>
		            <td th:text="${bbs.bbsId}"></td>
		            <th scope="row">조회수</th>
		            <td th:text="${bbs.viewCnt}"></td>
	          </tr>
	       		  <tr>
		            <th scope="row">작성자</th>
		            <td th:text="${bbs.memberCode}"></td>
		            <th scope="row">작성일</th>
		            <td th:text="${bbs.createdAt}"></td>
	          	  <tr>
	            	<th scope="row">제목</th>
	            	<td colspan="3">
	            	<input type="text" id="title" name="title" th:value="${bbs.title}" /></td>
	          </tr>
	           	  <tr>
	            	<td colspan="4" class="view_text">
	              <textarea title="내용" id="contents" name="contents" th:text="${bbs.contents}"></textarea>
	            </td>
	          </tr>
	        </tbody>
	       </table>
	      	<input type="hidden" id="bbsId" name="bbsId" th:value="${bbs.bbsId}" />
    </form>
    <a href="#this" id="list" class="btn" >목록으로</a>
    <a href="#this" id="edit" class="btn" >수정</a>
    <a href="#this" id="delete" class="btn" >삭제</a>
  </div>     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	 <script type="text/javascript">
		    $(document).ready(function(){
		     	 $("#list").on("click", function(){
		        		 location.href= "/bbs/openBbsList.do";
		      });
		
		     	 $("#edit").on("click", function(){
				         var frm = $("#frm")[0];
				         frm.action = "/bbs/updateBbs.do";
				         frm.submit();
		
		      });
		
		    	  $("#delete").on("click", function(){
				         var frm = $("#frm")[0];
				         frm.action = "/bbs/deleteBbs.do";
				         frm.submit();
		     });
	  });
  </script>
</body>
</html>