<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <div id="adm_wrap">
        <header>
            <div class="head">
                <h1>게시판 프로젝트</h1>
                <div th:if="${session.loginMember != null}" class="top_menu">
                    <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginMember.name} ]]</strong>님 반갑습니다.</div>
                    <div class="logout">
                        <form action="/logout" method="post">
                            <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div id="container">

        </div>
        <footer>

        </footer>
    </div>

    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <!-- fontawesome   -->
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script> js date 라이브러리-->

    <th:block layout:fragment="script"></th:block>
</body>
</html>