<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Sales Manager Application</title>
<link rel="stylesheet" th:href="@{/css/style.css}" media="all"/>
</head>
<body>
<div class="container">
    <h1>게시글 목록 </h1>
    <table class="bbs_list">
        <colgroup>
            <col width="15%"/>
            <col width="*"/>
            <col width="15%"/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">글번호</th> <!-- 제목열 편집-->
            <th scope="col">제 목</th>
            <th scope="col">내 용</th>
            <th scope="col">조회수</th>
            <th scope="col">좋아요수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="list : ${list}">
            <td th:text="${list.bbsId}"/>
            <td><a th:href="@{'/' + ${list.bbsId}}" th:text="${list.title}" class="link-text"></a></td>
            <td><a th:href="@{'/' + ${list.bbsId}}" th:text="${list.contents}" class="link-text"></a></td>
<!--            <td th:text="${list.contents}"/>-->
            <td th:text="${list.viewCnt}"/>
            <td th:text="${list.likeCnt}"/>
            <td th:text="${#temporals.format(list.createdAt, 'yyyy.MM.dd')}"/>

        </tr>
        </tbody>
    </table>
    <br/><br/>
    <a href="/write" class="btn">글 쓰기</a>
</div>   
</body>
</html>