<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>bbs_list</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container">
    	<h2>♡게시글 목록♡</h2>
    	<table class="bbs_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">글번호</th>
	                <th scope="col">제목</th>
	                <th scope="col">조회수</th>
	                <th scope="col">작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
	        		<td th:text="${list.bbsId}"></td>
	        		<!-- 0103_상세화면 코드 추가 -->
	        		<td class="title">
	        			<a href="/bbs/openBbsDetail.do?bbsId="
	        			   th:attrappend="href=${list.bbsId}"
	        			   th:text="${list.title}"></a></td>
	        		<!-- 0103_상세화면 코드 추가 -->
	        		<td th:text="${list.viewCnt}"></td>
	        		<td th:text="${#temporals.format(list.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
	        	</tr> 
	        	<tr th:unless="${#lists.size(list)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
	    <a href="/bbs/openBbsWrite.do" class="btn">글 쓰기</a>
    </div>
</body>
</html>