<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* 이미지를 가운데 정렬하기 위한 스타일 */
        .center-image {
            text-align: center; /* 가운데 정렬 */
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="center-image">
<img src="https://velog.velcdn.com/images/ldh0308/post/2d1bf14f-463c-4378-b0d4-cff578687392/image.png" width="100" height="100"/>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NomardLog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/list" role="button">전체 글</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        대륙별
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">아시아</a></li>
                        <li><a class="dropdown-item" href="#">아프리카</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">마이페이지</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/id/1436430810/ko/%EC%82%AC%EC%A7%84/%ED%8C%8C%EB%A6%AC-%EC%97%90%ED%8E%A0%ED%83%91.webp?b=1&s=170667a&w=0&k=20&c=2kqXU7Zk6P0ghIAbsUr74mhIEWl-_u5OyHRliWOg800=" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title" th:text="${getTitle}"></h5>
        <p class="card-text" th:text="${getText}"></p>
        <a href="http://localhost:8080/1" class="btn btn-primary">구경하기</a> <!-- 해당 글 링크 및 이미지 손봐야함 -->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>