<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.encore.bbs1.mapper.BbsMapper">
	<select id="selectBbsList" resultType="com.encore.bbs.dto.BbsDTO"> <!-- resultMap="BbsList" -->
		SELECT * FROM bbs
	</select>
	<insert id="insertBbs" parameterType="com.encore.bbs.dto.BbsDTO">
	<![CDATA[
		INSERT INTO bbs 
		(
			title,
			contents,
			created_at 
		)
		VALUES
		(
			#{title},
			#{contents},
			NOW()
		)
	]]>
	</insert>
	<update id="updateViewCount" parameterType="int">
	 <![CDATA[
	    UPDATE bbs
	    SET view_cnt = view_cnt+1
	    WHERE bbs_id = #{bbsId}
	 ]]>
	</update>	
	<select id="selectBbsDetail" parameterType="int" resultType="com.encore.bbs.dto.BbsDTO">
  	<![CDATA[
	     SELECT bbs_id, 
	    		title, 
	    		contents, 
	    		view_cnt, 
	    		DATE_FORMAT(created_at, '%Y.%m.%d %H:%i:%s') 
	   		 	as created_at, 
	    		member_code
	    	FROM 
	    		bbs
	    	WHERE 
	    		bbs_id=#{bbsId} AND is_deleted='N'
  	]]>
	</select>
	<update id="updateBbs" parameterType="com.encore.bbs.dto.BbsDTO">
  	<![CDATA[
	    UPDATE bbs SET
	     	title = #{title}, 
	    	contents = #{contents},  
	    	modify_at = NOW()
	    WHERE 
	    	bbs_id=#{bbsId}
  	]]>
	</update>
	<update id="deleteBbs" parameterType="int">
  	<![CDATA[
	    UPDATE bbs SET
	     	is_deleted = '1', 
	    	modify_at = NOW()
	    WHERE 
	    	bbs_id=#{bbsId}
  ]]>
</update>

</mapper> 