<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.encore.bbs.comment.mapper.CommentMapper">

    <resultMap id="commentResultMap" type="com.encore.bbs.comment.dto.CommentDTO">
        <id column="commentId" property="commentId"/>
        <result column="bbsId" property="bbsId"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="regDate" property="regDate"/>
        <result column="modifyDate" property="modifyDate"/>
    </resultMap>


    <!--    <select id="countCommentsByBbsId" resultType="java.lang.Integer">-->
    <!--        SELECT COUNT(*) FROM comment WHERE bbsId = #{bbsId}-->
    <!--    </select>-->

    <!-- 댓글쓰기   -->
    <insert id="addComment" parameterType="com.encore.bbs.comment.dto.CommentDTO">
        INSERT INTO comment (bbsId, comment, writer, regDate)
        VALUES (#{bbsId}, #{content}, #{writer}, now() )
    </insert>

    <!-- 댓글id정보   -->
    <select id="findCommentById" resultMap="commentResultMap">
        SELECT * FROM comment WHERE commentId = #{commentId}
    </select>

    <!--  조회  -->
    <select id="getCommentsByBbsId" resultMap="commentResultMap">
        SELECT * FROM comment WHERE bbsId = #{bbsId}
    </select>

    <!-- 댓글수정   -->
    <update id="updateComment" parameterType="com.encore.bbs.comment.dto.CommentDTO">
        UPDATE comment SET comment = #{content}, modifyDate = now()
        WHERE commentId = #{commentId}
    </update>

    <!-- 삭제   -->
    <delete id="deleteComment" parameterType="Long">
        DELETE FROM comment WHERE commentId = #{commentId}
    </delete>

    <!-- 댓글cnt   -->
    <select id="countAllComments" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM comment
    </select>

</mapper>
